
form {
    margin-top:10px;/*верхний внешний отступ формы в 10 пикс*/
}

input[type="text"], input[type="email"], textarea {
    width:100%;/*занимает всю ширину контейнера*/
    padding:10px;/*внутренние отступы в 10 пикс для полей ввода и тикстовой обл.*/
    margin-bottom:10px;/*нижний внешний отступ между полями ввода и текстовой обл.*/
    border: 1px solid #ddd;/*рамка вокруг полей ввода и текстовой обл.*/
    border-radius:4px;/*закругленные углы у полей ввода и текстовой области*/
}

input[type="submit"] {
    background-color:#333;
    color: #fff;
    border: none;/*убираем границу у кнопки*/
    padding:10px 20px;/*добаем внутр отступы 10 пикс сверху и снизу, а также 20 пикс слева и справа.*/
    cursor: pointer;/*изменяем форму курсора при наведении на кнопку.*/
}

input[type="submit"] {
    background-color:#444;/*изменяем цвет фона кнопки при наведении на нее.*/
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
a{
    text-decoration:none;
    color: black;
}